<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="~{layout/layout_main}">
    <title>PhoneHub</title>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{js/swiper/swiper.min.css}">
</th:block>

<th:block layout:fragment="script">
	<script defer type="text/javascript" th:src="@{js/swiper/swiper.min.js}"></script>
	<script defer type="text/javascript" th:src="@{js/index.js}"></script>
	<script defer type="text/javascript" th:src="@{js/script.js}"></script>
	<script defer type="text/javascript" th:src="@{js/slide.js}"></script>
	<script defer type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
</th:block>

<th:block layout:fragment="content">
    <!-- gotop -->
    <div class="gotop">
        <i class="far fa-arrow-alt-circle-up fa-3x gotop_icon"></i>
    </div>
    <!-- slide -->
    <div class="main_slide">
        <!-- slide btn -->
        <div class="sw_prev"><i class="fas fa-chevron-left fa-3x"></i></div>
        <div class="sw_next"><i class="fas fa-chevron-right fa-3x"></i></div>
        <!-- pagination -->
        <div class="sw_pg"></div>
        <div class="swiper-container sw_main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="asset/sw1.jpg">
                </div>
                <div class="swiper-slide">
                    <img src="asset/sw2.jpg">
                </div>
                <div class="swiper-slide">
                    <img src="asset/sw3.jpg">
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <div class="pagew">
            <!-- 판매량 -->
            <div class="sales">
                <p>
                    <span>인기순</span>
                </p>
                <div class="cont_img">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!-- 성능 -->
            <div class="perfo">
                <p>
                    <span>성능순</span>
                </p>
                <!-- <div class="cont_img">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div> -->
            </div>
            <!-- 가성비 -->
            <div class="price">
                <p>
                    <span>가성비순</span>
                </p>
                <!-- <div class="cont_img">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div> -->
            </div>
        </div>
    </div>
</th:block>
</html>