<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mainheader">
	<!-- main header -->
	<div class="m_header">
		<div class="f_top">
			<div class="h_search">
				<div class="search_box">
					<div class="search_icon">
						<i class="fas fa-search"></i>
					</div>
					<div class="search_bar">
						<input type="text" name="search" id="hSearch" placeholder="검색">
					</div>
				</div>
			</div>
			<a href="/" class="main_logo" title="phonehub"> <img src="asset/logo.png">
			</a>
			<div class="login_cont">
				<div th:if="${session.loginUser == null}" class="login_container">
					<a href="/login" class="sign_in">로그인</a> <a href="/join" class="sign_up">회원가입</a>
				</div>
				<div th:if="${session.loginUser != null}" class="login_container">
					<a href="/logout" class="sign_in">로그아웃</a> <a href="/mypage" class="sign_up">마이페이지</a>
				</div>
			</div>
		</div>
		<div class="f_bot">
			<ul class="h_list">
				<li><a href="/news">뉴스</a></li>
				<li><a href="#">휴대폰</a></li>
				<li><a href="/rank">랭킹</a></li>
				<li><a href="/list">게시판</a></li>
			</ul>
		</div>
	</div>
</div>

</html>