<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuktarr.phonehub.phone.PhoneMapper">
	<select id="selPerformanceRanking"
		resultType="com.tuktarr.phonehub.model.PhoneInfoEntity">
		SELECT
		phone, pictureURLSmall, APScore
		FROM phoneInfo
		ORDER BY
		APScore DESC
	</select>

	<select id="selCost_Effectiveness"
		resultType="com.tuktarr.phonehub.model.PhoneInfoEntity">
		SELECT
		phone, pictureURLSmall, cost_Effectiveness
		FROM
		phoneInfo
		WHERE cost_Effectiveness != 0
		ORDER BY cost_Effectiveness
	</select>

	<select id="selSearchPhone"
		resultType="com.tuktarr.phonehub.model.PhoneInfoEntity">
		SELECT pk, phone, pictureURLSmall, MiscModels
		FROM phoneInfo
		<where>
			<if test="brand != null and brand !='' ">
				AND brand = #{brand}
			</if>
			<if test="bodySIM != null and bodySIM !='' ">
				<choose>
					<when test="bodySIM == 'dual SIM' ">
						AND bodySIM LIKE '%${bodySIM}%'
					</when>
					<otherwise>
						AND not bodySIM LIKE '%${bodySIM}%'
					</otherwise>
				</choose>
			</if>
			<if test="bodyWeight != null and bodyWeight != '' ">
				AND bodyWeight <![CDATA[<]]>
				#{bodyWeight}
			</if>
			<if test="commsBluetooth != null and commsBluetooth != '' ">
				AND commsBluetooth LIKE '%${commsBluetooth}%'
			</if>
			<if test="commsUSB != null and commsUSB != '' ">
				AND commsUSB LIKE '%${commsUSB}%'
			</if>
		</where>
	</select>

	<select id="selPhoneDetail"
		resultType="com.tuktarr.phonehub.model.PhoneInfoEntity">
		SELECT * FROM phoneInfo
		WHERE pk = ${pk}
	</select>

	<select id="selUsebleTip" resultType="string">
		SELECT content FROM
		usebletip ORDER BY rand() limit 1
	</select>

	<select id="selPhoneNameSearch" resultType="_int">
		SELECT IFNULL((SELECT pk FROM phoneinfo WHERE Phone = #{phone}), 0) AS pk
	</select>

</mapper>