@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

html {
    user-select: none;
    overflow-x: hidden;
    scroll-behavior: "smooth";
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/*공통사항*/
.wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

.pagew {
    position: relative;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.flex_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/*위로가기*/
.gotop {
    position: fixed;
    display: inline-block;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    cursor: pointer;
}

/*slide*/
.slide {
    overflow: hidden;
}

.slide_box {
    width: 400vw;
    height: 400px;
}

.slide_content {
    float: left;
    width: 100vw;
    height: 100%;
}

.slide1 {
    background: rgba(0,0,0,0.2);
}
.slide2 {
    background: rgba(0,0,0,0.4);
}
.slide3 {
    background: rgba(0,0,0,0.6);
}
.slide4 {
    background: rgba(0,0,0,0.8);
}

/*content*/
.content {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 50px 0;
}

.sales,
.perfo,
.price {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
}

.sales p,
.perfo p,
.price p {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.sales p::before,
.perfo p::before,
.price p::before {
    content: '';
    position: absolute;
    top: 55%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #333;
}

.sales p span,
.perfo p span,
.price p span {
    position: relative;
    background: #fff;
    font-size: 25px;
    font-weight: 700;
    padding-right: 20px;
    z-index: 999;
}

.cont_img {
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
}

.cont_img > img {
    position: absolute;
    width: 100%;
    height: 100%;
}