@charset 'utf-8';

.m_header {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    background: #89ABE3;
}

/*f_top*/
.f_top {
    position: relative;
    display: block;
    height: 70%;
}

/*search*/
.h_search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    float: left;
}

.search_icon {
    color: #fcf6f5;
}

.search_bar {
    position: relative;
    height: 30px;
    margin: 0 0 0 10px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #fcf6f5;
    background: #89ABE3;
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
}

.search_bar:focus {
    background: #fff;
}

.search_bar::placeholder {
    color: #fcf6f5;
}

.search_bar:focus::placeholder {
    color: #333;
}

/*logo*/
.main_logo {
    position: absolute;
    width: 350px;
    height: 210px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main_logo>img {
    width: 100%;
    height: 100%;
}

/*login*/
.login_cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    float: right;
}

.login_cont>a {
    color: #FCF6F5;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 10px;
}

.sign_in,
.sing_up {
    position: relative;
}

.sign_in::before {
    content: '';
    position: absolute;
    right: -22%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 20px;
    background: #FCF6F5;
}

/*f_bot (메뉴리스트부분)*/
.f_bot {
    position: relative;
    display: block;
    height: 30%;
}

.h_list {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.h_list>li {
    position: relative;
    -webkit-box-reflect: below -10px linear-gradient(transparent, #0004);
}

.h_list>li>a {
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #333, #333 50%, #FCF6F5 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 201%;
    background-position: 100%;
    letter-spacing: 1px;
    text-align: center;
    transition: background-position 0.5s ease;
    overflow: hidden;
}

.h_list>li>a:hover {
    background-position: 0 100%;
}