.news_wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.news_content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px 0;
}

.news_top {
    position: relative;
    display: flex;
    min-height: 500px;
}

.news_top_left {
    flex: 2;
    padding-right: 30px;
}

.news_top_right {
    flex: 1;
}

.linear {
    position: relative;
    margin-bottom: 10px;
}

.linear::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    background: #333;
}

.linear span {
    position: relative;
    padding-right: 10px;
    background: #fff;
    font-size: 23px;
    z-index: 999;
}

.news_box {
    position: relative;
    display: flex;
}

.big {
    position: relative;
    display: block;
    flex: 2;
}

.thumb {
    position: relative;
}

.big .thumb a img {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

.big_txt {
	position: relative;
    display: block;
    height: 200px;
    width: 100%;
    padding-bottom: 20px;
}

.small {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.small .thumb {
    margin: 0 0 20px 20px;
}

.small .thumb a {
	position: relative;
	display: flex;\
	justify-content: space-between;
}

.small .thumb a img {
    height: 150px;
    width: 150px;
}

.small_txt {
	margin-left: 10px;
}

.news_bottom {
    position: relative;
    display: block;
    min-height: 900px;
    margin-top: 50px;
    border-bottom: 1px solid #333;
}

.news_bottom_cont {
    position: relative;
    display: block;
    padding: 0 12vw;
}