.sign_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-height: 1000px;
    width: 100%;
}

/*login*/
.login_form {
    position: relative;
    display: block;
    width: 500px;
    height: 500px;
    padding: 0 20px;
    background: #fff;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.login_form>span {
    display: block;
    text-align: center;
    padding: 20px 0;
    /*    background: linear-gradient(to bottom, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}

#loginFrm {
    position: relative;
    display: block;
    padding: 10px 40px;
}

.txt_field {
    position: relative;
    display: block;
    border-bottom: 2px solid #333;
    margin: 25px 0;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #A9A9A9;
    display: block;
    transform: translateY(-50%);
    font-size: 17px;
    pointer-events: none;
    transition: all 0.5s;
}

.txt_field input {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    font-size: 15px;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #333;
}

.fg_pw {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 15px 0 20px 0;
}

.fg_pw>a {
    color: #A9A9A9;
    font-size: 15px;
}

.fg_pw>a:hover {
    color: #333;
    text-decoration: underline;
}

input[name=signIn],
input[name=signUp],
input[name=emailSend] {
    display: block;
    height: 50px;
    width: 100%;
    color: #fcf6f5;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    background: #89ABE3;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

input[name=signIn]:hover,
input[name=signUp]:hover {
    background: #89abff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.join_link {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.join_link a {
    position: relative;
    display: inline-block;
    color: #6495ED;
    margin: 0 5px;
}

.join_link a:hover {
    text-decoration: underline;
}

/*join*/
.join_form {
    position: relative;
    display: block;
    width: 650px;
    height: 750px;
    padding: 15px 40px;
    background: #fff;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#joinFrm {
	position: relative;
}

.row>span {
    display: block;
    margin: 20px 0;
    font-size: 20px;
}

.input_group {
    position: relative;
    margin-bottom: 15px;
}

.input_group input[type="text"],
.input_group input[type="radio"]+label {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px;
    padding-left: 65px;
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    transition: all 0.35s ease-in-out;
}

.input_group input[name="email"] {
	width: 70%;
}

.input_button input[name="emailSend"] {
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	border-radius: 3px;
	height: 47px;
	font-size: 16px;
}

.input_group input:focus {
    border-color: #89abff;
}

.input_group input:focus+.input_icon {
    color: #89abff;
}

.input_group input:focus+.input_icon::after {
    border-right-color: #89abff;
}

.input_icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
    z-index: 99;
    zoom: 1.3;
    color: #b9b9b9;
    transition: all 0.35s ease-in-out;
}

.input_icon::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    bottom: 7px;
    top: 7px;
    border-right: 1px solid #b9b9b9;
    transition: all 0.35s ease-in-out;
}

.half {
    position: relative;
    padding-right: 10px;
    width: 50%;
    float: left;
    margin-bottom:50px;
}

.half:last-child {
	padding-right: 0;
}

.half>span {
    display: block;
    margin: 20px 0;
    font-size: 20px;
}

.col_three {
    position: relative;
    padding-right: 10px;
    width: 33.33%;
    float: left;
}

.col_three>input[type="text"] {
    padding: 20px;
}

.input_group>input[type="radio"] {
    display: none;
    padding: 0;
}

.input_group input[type="radio"]+label {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
    padding: 10.5px;
}

.input_group input[type="radio"] + label[for="male"] {
	border-right-width: 0px;
}

.input_group input[type="radio"]:checked+label[for="male"] {
    background-color: #6495ED;
    border-color: #6495ED;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fcf6f5;
}

.input_group input[type="radio"]:checked+label[for="female"] {
    background-color: #FC766AFF;
    border-color: #FC766AFF;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fcf6f5;
}