<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout_default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{css/phone/phone_detail.css}">
</th:block>

<th:block layout:fragment="content">
    <!-- content -->
    <div class="p_detail_wrap">
        <div class="pagew">
            <div class="item_info">
                <!-- 휴대폰 사진 -->
                <div class="item_info_img">
                    <img th:src="${data.pictureURLSmall}" src="asset/samsung.png">
                    <a href="#">
                        <span>비교하기</span>
                    </a>
                </div>
                <!-- 휴대폰 디테일 -->
                <div class="item_info_detail">
                    <!-- 기기이름 및 모델명 -->
                    <div class="item_name">
                        <h1 th:text=${data.phone}>갤럭시 S21 Ultra 5G 자급제</h1>
                    </div>
                    <div th:text=${data.miscModels} class="item_name_sub">
                        SM-G998NZKEKOO
                    </div>
                    <!-- 기기설명 -->
                    <div class="item_script">
                        <h2 class="item_script_tit">상세내용</h2>
                        <span th:text=${data.platformOS}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.displayType}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.displayOther}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.displaySize}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.displayResolution}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.bodyDimensions}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.bodyWeight}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.bodyOther}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.featuresOther}>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, commodi amet consectetur distinctio maiores sequi natus, quasi ipsa facilis nemo quis, et exercitationem molestiae officia optio earum maxime doloremque tempora.
                        </span>
                        <span th:text=${data.announced}>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quas architecto autem eligendi error dolor optio maiores reprehenderit non. Numquam rem, labore assumenda voluptas dignissimos dolorum ipsum eaque? Nulla, soluta?
                        </span>
                        <span th:text=${data.status}>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quas architecto autem eligendi error dolor optio maiores reprehenderit non. Numquam rem, labore assumenda voluptas dignissimos dolorum ipsum eaque? Nulla, soluta?
                        </span>
                    </div>
                    <!-- 점수 -->
                    <div class="item_score">
                        <div th:text=${data.APScore}/100 class="score_box very_good">
                            100
                        </div>
                        <div class="percent">
                            <span class="percent_tit">phonehub score</span>
                            <div class="percent_bar">
                                <!-- width값조정 -->
                                <div th:style="'width: ' + ${data.APScore}/100 + '%'" class="progress very_good">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 유저 팁 -->
                    <div class="user_tip">
                        <i class="fas fa-lightbulb fa-2x"></i>
                        <span>안녕하세요</span>
                    </div>
                </div>
            </div>
            <!-- 간단 스펙 -->
            <div class="simple_spec">
                <div class="simple_spec_box" id="display">
                    <div class="simple_icon">
                        <i class="fas fa-mobile-alt fa-3x"></i>
                    </div>
                    <div class="simple_info">
                        <span class="simple_tit">디스플레이</span>
                        <span th:inline="text" class="simple_paragraph">
                        	[[${#strings.substringBefore(data.displaySize, ",")}]]
                            <br>
                        	[[${#strings.substringBefore(data.displayResolution, ",")}]]
                            <!-- 6.8 inches
                            <br>
                            3200 x 1440 pixels -->
                        </span>
                    </div>
                </div>
                <div class="simple_spec_box" id="camera">
                    <div class="simple_icon">
                        <i class="fas fa-camera-retro fa-3x"></i>
                    </div>
                    <div class="simple_info">
                        <span class="simple_tit">카메라</span>
                        <span th:inline="text" class="simple_paragraph">
                        	[[${#strings.substringBefore(data.mainCameraSingle, ";")}]]
                        	[[${#strings.substringBefore(data.mainCameraDual, ";")}]]
                        	[[${#strings.substringBefore(data.mainCameraTriple, ";")}]]
                        	[[${#strings.substringBefore(data.mainCameraQuad, ";")}]]
                        	[[${#strings.substringBefore(data.mainCameraFive, ";")}]]
                        	[[${#strings.substringBefore(data.mainCameraSix, ";")}]]
                        	<br>
                            <!-- 50 MP (Triple camera)
                            <br>
                            20 MP front -->
                        </span>
                    </div>
                </div>
                <div class="simple_spec_box" id="hardware">
                    <div class="simple_icon">
                        <i class="fas fa-hdd fa-3x"></i>
                    </div>
                    <div th:inline="text" class="simple_info">
                        <span class="simple_tit">하드웨어</span>
                        <span class="simple_paragraph">
                        	[[${#strings.substringBefore(data.platformChipset, ";")}]]
                        	<br>
                        	[[${#strings.substringBefore(data.memoryInternal, ";")}]]
                            <!-- Qualcomm
                            <br>
                            Snapdragon 888
                            <br>
                            8GB RAM -->
                        </span>
                    </div>
                </div>
                <div th:inline="text" class="simple_spec_box" id="bettery">
                    <div class="simple_icon">
                        <i class="fas fa-battery-full fa-3x fa-rotate-270"></i>
                    </div>
                    <div class="simple_info">
                        <span class="simple_tit">베터리</span>
                        <span class="simple_paragraph">
                        [[${#strings.substringBefore(data.batteryOther, ";")}]]
                            <!-- 5000 mAh  -->
                        </span>
                    </div>
                </div>
                <div th:inline="text" class="simple_spec_box" id="storage">
                    <div class="simple_icon">
                        <i class="fas fa-palette fa-3x"></i>
                    </div>
                    <div class="simple_info">
                        <span class="simple_tit">색상</span>
                        <span class="simple_paragraph">
                        	[[${#strings.substringBefore(data.miscColors, ";")}]]
                            <!-- 256GB, not
                            <br>
                            expandable -->
                        </span>
                    </div>
                </div>
            </div>
            <!-- 세부스펙 -->
            <div class="detail_spec">
                <div class="dspec_box">
                    <div class="dspec_tit">
                        <span>프로세서</span>
                    </div>
                    <div class="dspec_info">
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">CPU 속도</span>
                            <span class="dinfo_cont">2.9GHz,2.8GHz,2.2GHz</span>
                        </div>
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">CPU 종류</span>
                            <span class="dinfo_cont">Octa-Core</span>
                        </div>
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">CPU 이름</span>
                            <span class="dinfo_cont">exynos 2100</span>
                        </div>
                    </div>
                </div>
                <div class="dspec_box">
                    <div class="dspec_tit">
                        <span>디스플레이</span>
                    </div>
                    <div class="dspec_info">
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">크기(Main Display)</span>
                            <span class="dinfo_cont">173.0mm</span>
                        </div>
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">해상도(Main)</span>
                            <span class="dinfo_cont">3200x1440(Quad HD+)</span>
                        </div>
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">종류(Main)</span>
                            <span class="dinfo_cont">Dynamic AMOLED 2X</span>
                        </div>
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">색심도(Main)</span>
                            <span class="dinfo_cont">16M</span>
                        </div>
                        <div class="dspec_info_box">
                            <span class="dinfo_tit">주사율</span>
                            <span class="dinfo_cont">exynos 2100</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>