<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout_default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{css/phone/phone.css}">
</th:block>

<th:block layout:fragment="script">
    <script defer type="text/javascript" th:src="@{js/phone/phone.js}"></script>
</th:block>

<th:block layout:fragment="content">
    <!-- content -->
    <div class="phone_wrap">
        <div class="phone_container">
            <!-- 검색 카테고리 -->
            <div class="phone_cate">
                <!-- 카테고리박스 / 복붙-->
                <div class="cate_box">
                    <span class="cate_name">일반 정보</span>
                    <!-- 카테고리 셀렉트 박스 / 복붙-->
                    <select class="cate_selc" onchange="searchBrand(this.value)">
                        <option value="" selected>제조회사</option>
                        <option value="samsung">samsung</option>
                        <option value="apple">apple</option>
                    </select>
                    <select id="searchSIM" class="cate_selc" onchange="searchSIM(this.value)">
                        <option value="" selected>SIM</option>
                        <option value="dual">Single-SIM</option>
                        <option value="dual SIM">Dual-SIM</option>
                    </select>
                    <select id="searchSIM" class="cate_selc" onchange="searchWeight(this.value)">
                        <option value="" selected>무게(이하)</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                    </select>
                </div>
                <div class="cate_box">
                    <span class="cate_name">사양</span>
                    <select class="cate_selc" onchange="searchNetwork(this.value)">
                        <option value="0" selected>network</option>
                        <option value="2">2G</option>
                        <option value="3">3G</option>
                        <option value="4">4G</option>
                        <option value="5">5G</option>
                    </select>
                    <select class="cate_selc" onchange="searchCameraCount(this.value)">
                        <option value="0" selected>cameraCount</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="cate_box">
                    <span class="cate_name">연결</span>
                    <!-- 카테고리 셀렉트 박스 / 복붙-->
                    <select class="cate_selc" onchange="searchMemoryCardSlot(this.value)">
                        <option value="" selected>외장메모리</option>
                        <option value="no;">yes</option>
                        <option value="no">no</option>
                    </select>
                    <select class="cate_selc" onchange="searchBluetooth(this.value)">
                        <option value="" selected>Bluetooth</option>
                        <option value="1.0">1.0</option>
                        <option value="2.0">2.0</option>
                        <option value="2.1">2.1</option>
                        <option value="3.0">3.0</option>
                        <option value="4.0">4.0</option>
                        <option value="4.1">4.1</option>
                        <option value="4.2">4.2</option>
                        <option value="5.0">5.0</option>
                    </select>
                    <select id="searchSIM" class="cate_selc" onchange="searchUSB(this.value)">
                        <option value="" selected>USB</option>
                        <option value="2.0">2.0</option>
                        <option value="3.1">3.1</option>
                    </select>
                </div>
            </div>
            <!-- items -->
            <div id="searchPhone" class="items">
                <!-- item_box / 복붙 -->
                <!-- <div class="item_box">
                    <a href="#">
                        <img src="asset/samsung.png">
                        <div class="item_box_detail">
                            <span class="item_name">갤럭시 Z 폴드2 5G 자급제</span>
                            <span class="item_num">SM-F916NZKAKOO</span>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
        <!-- paging -->
        <div id="pagingContent">
            <div id="phonePaging" class="paging_control">

            </div>
        </div>
    </div>
</th:block>

</html>