<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout_default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{css/search/searchHub.css}">
</th:block>

<th:block layout:fragment="content">
    <!-- content -->
    <div class="search_wrap">
        <div class="pagew">
            <div class="search_content">
                <div class="search_page_h">
                    <h1>"<p th:text="${searchContents}">삼성</p>"에 대한 검색 결과</h1>
                    <ul>
                        <li>
                            <a href="#searchPhone">
                                <i class="fas fa-mobile-alt"></i>
                                <span>휴대폰</span>
                                <span th:inline="text">([[${data.phoneInfo.size}]])</span>
                            </a>
                        </li>
                        <li>
                            <a href=" #searchNews">
                                <i class="fas fa-newspaper"></i>
                                <span>뉴스</span>
                                <span th:inline="text">([[${data.news.size}]])</span>
                            </a>
                        </li>
                        <li>
                            <a href=" searchBoard">
                                <i class="far fa-clipboard"></i>
                                <span>게시판</span>
                                <span th:inline="text">([[${data.post.size}]])</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class=" search_result">
                    <div th:if="${data.phoneInfo.size != 0}" id="searchPhone" class="result_section">
                        <div class="result_sec_h">
                            <h3>휴대폰 검색결과</h3>
                        </div>
                        <div class="section_phone">
                            <!-- 카드복사 -->
                            <div th:each="phone : ${data.phoneInfo}" class="phone_card">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <a th:href="@{/phonedetails(pk=${phone.pk})}" class="phone_card_thumb">
                                    <img th:src="${phone.pictureURLSmall}" src="asset/samsung.png">
                                    <div class="caption">
                                        <p th:text="${phone.phone}">samsung galaxy 11</p>
                                        <div class="caption_score">
                                            <div class="score_box"
                                                th:classappend="(${phone.APScore}/100 <= 25 ? very_bad :(${phone.APScore}/100 <= 50 ? bad : (${phone.APScore}/100 <= 75 ? good : very_good)))">
                                                <p th:text=${phone.APScore}/100>100</p>
                                            </div>
                                            <div class="percent_bar">
                                                <!-- width값조정 -->
                                                <div th:style="'width: ' + ${phone.APScore}/100 + '%'" class="progress"
                                                    th:classappend="(${phone.APScore}/100 <= 25 ? very_bad :(${phone.APScore}/100 <= 50 ? bad : (${phone.APScore}/100 <= 75 ? good : very_good)))">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="searchNews" class="result_section">
                        <div th:if="${data.news.size != 0}" class="result_sec_h">
                            <h3>뉴스 검색결과</h3>
                        </div>
                        <div class="section_news">
                            <!-- 카드복사 -->
                            <div th:each="news : ${data.news}" class="news_card">
                                <a th:href="@{${news.url}}" class="news_card_thumb">
                                    <img th:src="${news.img}" src="asset/thumb.jpg">
                                    <div class="caption caption_news">
                                        <span th:text="${news.title}" class="caption_news_tit">Lorem ipsum dolor sit
                                            amet, consectetur
                                            adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur
                                            sint occaecat cupidatat
                                            non
                                            proident, sunt in culpa qui officia deserunt mollit
                                            anim id est
                                            laborum.</span>
                                        <div class="info_writer">
                                            <span th:text="${news.regDt}" class="timestamp">2021-06-11 17:10:03</span>
                                            <span th:text="${news.writer}" class="writer">네이버</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div th:if="${data.post.size != 0}" id="searchBoard" class="result_section">
                        <div class="result_sec_h">
                            <h3>게시판 검색결과</h3>
                        </div>
                        <div class="section_board">
                            <!--  영역복사 -->
                            <div th:each="post : ${data.post}" class="board_range">
                                <span class="sec_board_tit">
                                    <a th:href="@{/detail(boardPk=${post.boardPk})}" th:text="${post.title}">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim
                                        id est laborum.
                                    </a>
                                </span>
                                <span th:text="${post.ctnt}" class="sec_board_content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                    ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id
                                    est laborum.
                                </span>
                                <div class="gall_info">
                                    <a href="/list" class="gall_name">
                                        공지사항
                                    </a>
                                    <span th:text="${post.modDt}" class="gall_info_time">2021-06-11 17:10:03</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>